<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Result</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class='<%= color %>'>
    <main id="mainElement">
        <h1 class="result"><%= resultData %><br> <%= resultMessage %></h1>
    </main>
</body>

</html>