    <main id="newsMain">
        <header class="nytH">
            <h1 class="newsHeader">convid-19 news from </h1>
             <a class='nytl' href="https://www.nytimes.com/">New York Times</a>
        </header>
        
        <%- data %>
        <br>
        <button id="showmore" onclick="showMore()">Show More</button>
    </main>
