@import url('fonts/font.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

b{
    font-family: Arial, Helvetica, sans-serif;
}
.info {
    width: 30px;
    float: right;
    margin: 0 40px;
    padding: 2px 10px;
    fill: #fff;
}

.about {
    background-color: #d80f0f;
    color: #fff;
    width: 100%;
    height: 100vh;
    padding: 30px 10px 30px 0px;

}
.about *{
    overflow: hidden;
}
.about .section{
    padding: 25px;
    padding-top: 7%;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
}
.about .section h1{
    margin:10px 0px;
    font-size: 40px;
    padding-top: 30px;
}
.about .section h3{
    margin: 10px 0px 0px;
}
.about .section a{
    color: #ffe600;
    padding: 20px 10px 20px 30px;
}
.about .section button{
    width: 200px;
    padding: 15px 40px;
    font-size: 1.3rem;
    background-color: #dac511;
    color:#d80f0f;
    border: none;
    border-radius: 3px;
    margin: 25px 0px;
}
.about .section button:active{
    background-color: #c0ae0b;
}
/*Loading animation*/
.loadingWrap{
    text-align: center;
    padding: 10%;
}
.loading {
    text-align: center;
    color: #d80f0f;
    font-size: 1.3rem;
    font-weight: 700;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  
  transform-origin: 40px 40px;
}
.lds-heart div {
  border-radius: 50%;
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #d80f0f;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background-color: #d80f0f;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
/*end loading animation*/
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.root {
    padding-top: 10% ;
    text-align: center;
    font-family: 'Pyidaungsu Bold',sans-serif;
    transition: all .4s;
}

.wrap {
    justify-content: center;
    display: flex;
}
@media screen and (max-width:600px){
    .root {
    padding-top: 20% ;
    }
    .wrap{
        display: block;
        margin: auto;
    }
}

#alertBox {
    background-color: #fff;
    padding: 25px;
    width: 70%;
    position: absolute;
    box-shadow: 0px 0px 5px #777;
    top: 40%;
    left: 5%;
    border-radius: 4px;
}
#alertBox h2{
    font-size: 20px;
}
#alertBox .cancel{
    color: #333;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #ddd;
    cursor: pointer;
    margin: 5px;
    float: right;
}
#alertBox .yes {
    color: #fff;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #10ca6d;
    cursor: pointer;
    margin: 5px;
    float: right;
}

.filtersec label{
    color: #00a352;
    font-family: 'Pyidaungsu Regular',sans-serif;
}
.filtersec input{
    padding:  10px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #00a352;
    transition: .3s;
}
.filtersec input:focus{
    outline: none;
    background-color: #14e67d3d;
}
.filtersec {
    margin: 25px 0px;
}
#filterbtn{
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color:#00a352;
    cursor: pointer;
}
.data-sec {
    margin: 8px;
    color: #fff;
    padding: 20px 17px;
    border-radius: 5px;
    float:left;
    width: 82%;
}
.data-sec h1,p{
    font-family: 'Pyidaungsu Bold',sans-serif;
}

.data-sec p{
    font-size: 30px;
}
.data-sec:nth-last-child(3),.data-sec:nth-last-child(4) {
    background-color: #ffe92548;
    border: 1px solid #dbbd12;
    color: #c4a600;
}
.data-sec:nth-last-child(2){
    background-color: #ff282848;
    border: 1px solid #d44646;
    color: #d44646;
}
.data-sec:last-child {

    background-color: #27a05648;
    border: 1px solid #27a056;
    color: #1a9147;
}
.appheader{
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(201, 12, 12);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.288);
}
.appheader h1{
    font-size: 180%;
    font-weight: 600;
    color: #fff;
    float: left;
}
.result {
    padding-top: 50px;
    font-size: 1.5rem;
    font-family: 'Pyidaungsu Regular',sans-serif;
    text-align: center;
}
.red {
    background-color: #d80f0f !important;
    color: #fff !important;
}
.green {
    background-color: #10ca6d !important;
    color: #fff !important;
}

.follow-item {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
    font-family: "Pyidaungsu Regular",sans-serif;
}
.follow-item h2{
    font-family: "Pyidaungsu Bold",sans-serif;
}
.follow-item:nth-child(1){
    background: url('images/social_distance.svg') no-repeat center/50%;
    background-color: #9c3e90;
    background-blend-mode: multiply;
}
.follow-item:nth-child(2){
    background: url('images/home.svg') no-repeat center/50%;
    background-color: #0c7d81;
    background-blend-mode: hue;
}
.follow-item:nth-child(3){
    background: url('images/wash_hand.svg') no-repeat center/40%;
    background-color: #037e5f;
    background-blend-mode: difference;
}
.follow-item:nth-child(4){
    background: url('images/watch.svg') no-repeat center/60%;
    background-color: #a77c07;
    background-blend-mode: multiply;
}
.follow-item:nth-child(5){
    background: url('images/exercise.svg') no-repeat center/60%;
    background-color: #a7076a;
    background-blend-mode: difference;
}
.share {
    background-color: rgb(173, 11, 65);
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}


main {
    z-index: 1;
    padding: 50px 10px 120px 10px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
   
}
.hide {
    display: none;
}
.back-btn {
    position: fixed;
    bottom: 70px;
    right: 7px;
    margin: 30px;
    z-index: 3;
    background-color: #d80f0f;
    font-size: 13px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 2.5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.473);
    cursor: pointer;
}
#temperature {
    width: 80%;
}
.tempSep {
    margin: 0% 20%;
}
.nytview{
    width: 100%;
    height: 100vh; 
}
.cases {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
}
#newsMain .nytH{
    text-align: center;
}
.newsHeader {
    font-size: 1rem;
    color: rgb(99, 99, 99);
}
.nytl {
    font-family: serif;
    font-size: 2.1rem;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.news-article {
    padding: 17px;
    background-color:#fff;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #00000050;
    margin: 15px 0px;
    transition: all 400ms ease;
    cursor: pointer;
    border: 0.7px solid #333;
}
.news-article:hover{
    box-shadow: 0px 0px 20px #00000060;
}
.news-article header{
    font-size: 1.3rem;
    font-weight: 700;
}
.news-article cite{
    color: #dbbd12;
}
.news-article section{
    margin: 7px 0px;
}
.news-article date{
    font-family: Helvetica, sans-serif;
    color: #06ad59;
}
#showmore {
    background-color: #d80f0f;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    cursor: pointer;
    transition: .4s;
    float: right;
}
#showmore:focus{
    outline: none;
}
#showmore:active{
    background-color: #ad0e0e;
    outline: none;
}
.region {
    position: fixed;
    width: 100%;
    top: 80px;
}
.region ul{
    justify-content: center;
    display: flex;
}
.region ul li{
    font-size: 120%;
    padding:20px;
    background-color: #d80f0f;
}
.question-group{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d8ba0f;
    background-color: #ffdb0c56;
    margin: 5px 0px;
    transition: all .5s;
}
.question-group p{
    font-family: 'Pyidaungsu Regular','Noto Sans Myanmar',sans-serif !important;
}
.question-group label{
    margin-right: 20px;
    margin-left: 3px;
    
}

.question-group label,.question-group input{
    margin-top: 10px;
}
.formheader{
    font-family: 'Pyidaungsu Regular','Noto Sans Myanmar',sans-serif !important;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 0px;
}
#checkHealth{
    font-size: 20px;
    color: #fff;
    background-color: #d80f0f;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 3px;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'Pyidaungsu Regular','Noto Sans Myanmar',sans-serif !important;
}
#checkHealth:active{
    outline: none;
    background-color: #a30d0d;
}
.hide {
    display: none !important;
}
.foot {
    background-color: #fff;
    z-index: 2;
    font-size: 120%;
    padding: 0;
    box-shadow: -1px -1px 15px rgba(0, 0, 0, 0.288);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}
.foot ul {
    justify-content: center;
    display: flex;
}
.foot ul li{
    font-size: 90%;
    font-weight: 600;
    text-align: center;
    display: inline;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    font-size: 16px;

}
br{
    height: 1px;
}
li.active{
    color: #d80f0f;
}
li.active img{
    filter: invert(.5) sepia(1) saturate(50) hue-rotate(330deg);
}
.foot ul li img{
    width: 1.4rem;
    padding: 2px;
}

